body, .modal-body{
	background-color: #fcffda;
}
.top-icon{
	display: inline-grid;
    text-align: center;
}
.footer{
	position: fixed;
    bottom: 0;
    font-size: 12px;
    background-color: #212529;
    color: #ccc;
    height: 30px;
    line-height: 30px;
}
.summary{
	position: fixed;
    bottom: 30px;
    font-size: 18px;
    color: #000;
    
}
.footer span{
	padding: 20px;
}
.top-product img{
	max-width: 50px;
}
.tinput{
	color: red;
    font-weight: 800;
    font-size: 24px;
    text-align: right;
    width: 250px;
}
.profile{
	position: fixed;
	bottom: 0;
}
.select2-selection{
	height: 38px !important;
}
.shadowBox{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*---------------- Tabs ----------------*/

.modal-body .nav-tabs .nav-item {
	background-color: #faebd7;
	border: 1px solid #ccc;
	border-radius: 10px 10px 0 0;
	color: #000;
}
.modal-body .nav-tabs .nav-item .nav-link{
	color: #000;
}