@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}
.addbtn{
  align-items: center;
  cursor: pointer;
}
.description{
  color: #FB8308;
}
.desc{
  text-align: center;
}
.body-wrapper {
  /*max-width: 1440px;*/
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #3E2048;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  justify-content: space-between;
}

.profile-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .profile-wrapper {
    flex-wrap: wrap;
  }
}
.profile-wrapper .left-bar {
  width: 200px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  height: auto;
}
@media (max-width: 900px) {
  .profile-wrapper .left-bar {
    width: 100%;
  }
}
.profile-wrapper .left-bar .heading {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  padding-left: 20px;
  color: white;
  background-color: #3E2048;
  width: 100%;
}
.profile-wrapper .left-bar .left-bar-wrapper {
  padding: 10px;
}
@media (max-width: 900px) {
  .profile-wrapper .left-bar .left-bar-wrapper {
    width: 290px;
  }
}
@media (max-width: 400px) {
  .profile-wrapper .left-bar .left-bar-wrapper {
    width: 100%;
  }
}
.profile-wrapper .left-bar .left-bar-wrapper .img-wrapper img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .profile-wrapper .left-bar .left-bar-wrapper .img-wrapper img {
    width: 50px;
  }
}
.profile-wrapper .left-bar .left-bar-wrapper .profiles {
  overflow-y: auto;
  max-height: 350px;
  scrollbar-width: thin;
   padding-right: 15px;
}
.profile-wrapper .left-bar .left-bar-wrapper .profile {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #FAFAFC;
  border: 0.8px solid #D9DCE0;
  border-radius: 4px;
  padding: 10px 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  
}
@media (max-width: 900px) {
  .profile-wrapper .left-bar .left-bar-wrapper .profile {
    padding: 20px;
  }
}
.profile-wrapper .left-bar .left-bar-wrapper .profile .name {
  font-size: 14px;
}
.profile-wrapper .left-bar .left-bar-wrapper .profile .title {
  font-size: 12px;
  margin-top: -4px;
}
.profile-wrapper .left-bar .left-bar-wrapper .profile .check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E5E6EB;
}
.profile-wrapper .left-bar .left-bar-wrapper .profile .check img {
  width: 100%;
  border-radius: 50%;
  vertical-align: top;
}
.profile-wrapper .left-bar .left-bar-wrapper a {
  text-decoration: none;
}
.profile-wrapper .left-bar .left-bar-wrapper .create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  height: 36px;
  border-radius: 75px;
  background-color: #FB8308;
  color: white;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.profile-wrapper .left-bar .left-bar-wrapper .referal-code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.profile-wrapper .left-bar .left-bar-wrapper .referal-code .title {
  font-size: 14px;
}
.profile-wrapper .left-bar .left-bar-wrapper .referal-code .code {
  font-size: 13px;
  font-weight: 600;
  color: #1F1216;
}
.profile-wrapper .left-bar .left-bar-wrapper .referal-code img {
  height: 35px;
}
.profile-wrapper .profile {
  width: calc(100% - 450px);
}
@media (max-width: 900px) {
  .profile-wrapper .profile {
    width: 100%;
  }
}
.profile-wrapper .profile .create-profile {
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 450px) {
  .profile-wrapper .profile .create-profile {
    padding: 20px;
  }
}
.profile-wrapper .profile .create-profile .input-wrapper {
  width: 360px;
}
@media (max-width: 1100px) {
  .profile-wrapper .profile .create-profile .input-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}
.profile-wrapper .profile .create-profile .main-heading {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin: 10px 0px;
  color: #1F1216;
  margin-bottom: 30px;
}
.profile-wrapper .profile .create-profile .creat-profile-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 800px) {
  .profile-wrapper .profile .create-profile .creat-profile-wrapper {
    flex-wrap: wrap;
  }
}
.profile-wrapper .profile .create-profile .input-group {
  width: calc(50% - 7.5px);
}
@media (max-width: 800px) {
  .profile-wrapper .profile .create-profile .input-group {
    width: 100%;
  }
}
.profile-wrapper .profile .create-profile .input-group label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #1F1216;
}
.profile-wrapper .profile .create-profile .input-group input, .profile-wrapper .profile .create-profile .input-group select {
  width: 100%;
  height: 36px;
  border-radius: 4px !important;
  background-color: #F9FAFB;
  font-size: 12px;
  border: none;
  padding-left: 15px;
  outline: none;
  border: 0.8px solid #D9DCE0;
  margin-top: 5px;
}
.profile-wrapper .profile .create-profile .input-group input::placeholder, .profile-wrapper .profile .create-profile .input-group select::placeholder {
  color: #909090;
  font-size: 12px;
}
.profile-wrapper .profile .create-profile .input-group input:focus, .profile-wrapper .profile .create-profile .input-group select:focus {
  border: 0.8px solid #FB8308;
  box-shadow: none;
}
.profile-wrapper .profile .create-profile .group-filers {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  gap: 18px;
}
.profile-wrapper .profile .create-profile .group-filers .sub-heading {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.profile-wrapper .profile .create-profile .group-filers .sub-heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #FB8308;
  left: 0px;
  bottom: -8px;
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio] {
  position: absolute;
  opacity: 0;
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio] + .radio-label:before {
  content: "";
  background: white;
  border-radius: 100%;
  border: 1px solid black;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  position: relative;
  /* top: -0.2em; */
  /* margin-right: 1em;  */
  margin-top: 2px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
@media (max-width: 730px) {
  .profile-wrapper .profile .create-profile .group-filers input[type=radio] + .radio-label:before {
    width: 14px;
    height: 14px;
  }
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio]:checked + .radio-label:before {
  background-color: green;
  box-shadow: inset 0 0 0 4px white;
  border-color: green;
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: green;
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px green;
  border-color: #000100;
  background: #000100;
}
.profile-wrapper .profile .create-profile .group-filers input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
.profile-wrapper .profile .business-overview {
  width: 100%;
  padding: 35px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .profile-wrapper .profile .business-overview {
    padding: 20px;
  }
}
.profile-wrapper .profile .business-overview .sub-heading {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.profile-wrapper .profile .business-overview .sub-heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #FB8308;
  left: 0px;
  bottom: -8px;
}
.profile-wrapper .profile .business-overview .in-1-col {
  width: 100%;
}
.profile-wrapper .profile .business-overview .in-2-col {
  width: calc(50% - 7.5px);
}
@media (max-width: 930px) {
  .profile-wrapper .profile .business-overview .in-2-col {
    width: 100%;
  }
}
.profile-wrapper .profile .business-overview .in-4-col {
  width: calc(25% - 12px);
}
@media (max-width: 1180px) {
  .profile-wrapper .profile .business-overview .in-4-col {
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 930px) {
  .profile-wrapper .profile .business-overview .in-4-col {
    width: 100%;
  }
}
.profile-wrapper .profile .business-overview .table-wrapper {
  overflow-x: auto;
}
.profile-wrapper .profile .business-overview table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
}
.profile-wrapper .profile .business-overview table thead tr {
  background-color: #3E2048;
  text-transform: capitalize;
  color: white;
}
.profile-wrapper .profile .business-overview table th {
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
.profile-wrapper .profile .business-overview table tbody tr {
  border: 0.8px solid #E0E0E0;
}
.profile-wrapper .profile .business-overview table td {
  padding: 8px;
  text-align: center;
}
.profile-wrapper .profile .business-overview .group-navigation {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  border: 1.5px solid #3E2048;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #3E2048;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 1150px) {
  .profile-wrapper .profile .business-overview .group-navigation {
    font-size: 12px;
  }
}
@media (max-width: 1030px) {
  .profile-wrapper .profile .business-overview .group-navigation {
    flex-wrap: wrap;
    height: auto;
  }
}
.profile-wrapper .profile .business-overview .group-navigation .link {
  line-height: 40px;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 1150px) {
  .profile-wrapper .profile .business-overview .group-navigation .link {
    padding: 0px 10px;
  }
}
@media (max-width: 1030px) {
  .profile-wrapper .profile .business-overview .group-navigation .link {
    width: 100%;
  }
}
.profile-wrapper .profile .business-overview .group-navigation .link:hover {
  opacity: 0.9;
}
.profile-wrapper .profile .business-overview .group-navigation .active-link {
  background-color: #3E2048;
  color: white;
}
.profile-wrapper .profile .business-overview .input-wrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.profile-wrapper .profile .business-overview .input-group label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #1F1216;
}
.profile-wrapper .profile .business-overview .input-group input, .profile-wrapper .profile .business-overview .input-group select, .profile-wrapper .profile .business-overview .input-group textarea {
  width: 100%;
  height: 36px;
  border-radius: 4px !important;
  background-color: #F9FAFB;
  font-size: 12px;
  border: none;
  padding-left: 15px;
  border: 0.8px solid #D9DCE0;
  outline: none;
  margin-top: 5px;
}
.profile-wrapper .profile .business-overview .input-group input::placeholder, .profile-wrapper .profile .business-overview .input-group select::placeholder, .profile-wrapper .profile .business-overview .input-group textarea::placeholder {
  color: #909090;
  font-size: 12px;
}
.profile-wrapper .profile .business-overview .input-group input:focus, .profile-wrapper .profile .business-overview .input-group select:focus, .profile-wrapper .profile .business-overview .input-group textarea:focus {
  border: 0.8px solid #FB8308;
  box-shadow: none;
}
.profile-wrapper .profile .business-overview .input-group textarea {
  width: 100%;
  height: 110px;
  resize: none;
  padding-top: 15px;
}
.profile-wrapper .profile .status {
  width: 100%;
  padding: 35px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.profile-wrapper .profile .status .sub-heading {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.profile-wrapper .profile .status .sub-heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #FB8308;
  left: 0px;
  bottom: -8px;
}
.profile-wrapper .profile .status .list-wrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .profile-wrapper .profile .status .list-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 1150px) {
  .profile-wrapper .profile .status .list-wrapper {
    flex-wrap: wrap;
  }
}
.profile-wrapper .profile .status .list-wrapper .label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #1F1216;
}
.profile-wrapper .profile .status .list-wrapper .phone-status {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
@media (max-width: 1150px) {
  .profile-wrapper .profile .status .list-wrapper .phone-status {
    margin-bottom: 10px;
  }
}
.profile-wrapper .profile .status .list-wrapper input[type=radio] {
  position: absolute;
  opacity: 0;
}
.profile-wrapper .profile .status .list-wrapper input[type=radio] + .radio-label:before {
  content: "";
  background: white;
  border-radius: 100%;
  border: 1px solid black;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  position: relative;
  /* top: -0.2em; */
  /* margin-right: 1em;  */
  margin-top: 2px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
@media (max-width: 730px) {
  .profile-wrapper .profile .status .list-wrapper input[type=radio] + .radio-label:before {
    width: 14px;
    height: 14px;
  }
}
.profile-wrapper .profile .status .list-wrapper input[type=radio]:checked + .radio-label:before {
  background-color: green;
  box-shadow: inset 0 0 0 4px white;
  border-color: green;
}
.profile-wrapper .profile .status .list-wrapper input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: green;
}
.profile-wrapper .profile .status .list-wrapper input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px green;
  border-color: #000100;
  background: #000100;
}
.profile-wrapper .profile .status .list-wrapper input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
.profile-wrapper .profile .public {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 30px 0px;
}
@media (max-width: 470px) {
  .profile-wrapper .profile .public {
    gap: 20px;
    flex-wrap: wrap;
  }
}
.profile-wrapper .profile .public .check-box {
  /* .main-container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.profile-wrapper .profile .public .check-box .main-container {
  display: block;
  position: relative;
  color: #1F1216;
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  user-select: none;
}
.profile-wrapper .profile .public .check-box .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #E5E6EB;
  border-radius: 50%;
}
.profile-wrapper .profile .public .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.profile-wrapper .profile .public .check-box .main-container input:checked ~ .checkmark {
  background-color: #08B564;
  border: none;
}
.profile-wrapper .profile .public .check-box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.profile-wrapper .profile .public .check-box .main-container input:checked ~ .checkmark:after {
  display: block;
}
.profile-wrapper .profile .public .check-box .main-container .checkmark:after {
	
  left: 10px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.profile-wrapper .profile .experience {
  width: 100%;
  padding: 35px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .profile-wrapper .profile .experience {
    padding: 20px;
  }
}
.profile-wrapper .profile .experience .sub-heading {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.profile-wrapper .profile .experience .text {
  font-size: 14px;
  color: #595959;
}
.profile-wrapper .profile .experience .title {
  font-size: 14px;
  color: #1F1216;
  font-weight: 600;
}
.profile-wrapper .profile .experience span {
  margin-right: 5px;
}
.profile-wrapper .profile .experience .bold-title {
  font-size: 14px;
  color: #FB8308;
  font-weight: 600;
  width: 100%;
  position: relative;
}
.profile-wrapper .profile .experience .bold-title .icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.profile-wrapper .profile .experience .view-all {
  color: #7649B3;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.profile-wrapper .profile .experience .sub-heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #FB8308;
  left: 0px;
  bottom: -8px;
}
.profile-wrapper .profile .main-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.profile-wrapper .profile .main-btns button {
  width: 180px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  border: 1.5px solid #3E2048;
  color: #3E2048;
  cursor: pointer;
  background-color: white;
  border-radius: 75px;
}
.profile-wrapper .profile .main-btns .active {
  color: white;
  background-color: #3E2048;
}
.profile-wrapper .right-bar {
  width: 230px;
  background-color: white;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}
@media (max-width: 900px) {
  .profile-wrapper .right-bar {
    width: 100%;
  }
}
.profile-wrapper .right-bar .heading {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  padding-left: 20px;
  color: white;
  background-color: #3E2048;
  width: 100%;
}
.profile-wrapper .right-bar .icon-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}
.profile-wrapper .right-bar .icon-wrapper img {
  width: 80px;
  border-radius: 50%;
}
.profile-wrapper .right-bar .title {
  text-align: center;
  font-size: 14px;
  color: #4A0080;
  font-weight: 600;
  cursor: pointer;
}
.profile-wrapper .right-bar .or {
  text-align: center;
  font-weight: 600;
  color: #1F1216;
}


#camera-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -34%);;
  background-color: white;
  padding: 40px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 77%;
  height: 71%;
}

#camera {
 margin-right: 56%;
}

#captured-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
  width: 80%;
  max-width: 800px;
}

#captured-image {
  width: 39%;
  margin-left: 55%;
  margin-top: 4%;
}

#take-photo-link,
#upload-photo-link,
#cancel-photo-link {
  background-color: #4A0080;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

#take-photo-link {
  background-color: #4A0080;
  margin: 24%;
  margin-left: 13%;
}

#upload-photo-link {
  background-color: #4A0080;
  margin-right: 31%;
  margin-top: 20px; 

}

#cancel-photo-link {
  background-color: red;
  float: right;
  margin-top: -10px;

}



